PORT=3000
JWT_SECRET=supersecretjwtkey
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=hostreams_db

PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com # O https://api-m.paypal.com para producción


FLOW_API_KEY=your_flow_api_key
FLOW_SECRET_KEY=your_flow_secret_key
FLOW_API_URL=https://sandbox.flow.cl/api # O https://api.flow.cl/api para producción
FLOW_SUCCESS_URL=http://localhost:5173/payment-success # URL de éxito en el frontend
FLOW_FAILURE_URL=http://localhost:5173/payment-cancel # URL de fallo en el frontend
FLOW_CONFIRMATION_URL=http://localhost:3000/api/flow/confirm-payment # URL de confirmación asíncrona en el backend

EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
EMAIL_SERVICE=gmail # O el servicio que uses (e.g., Outlook365, SendGrid)
